* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #2B2B2B;
  color: #66717E;
}

p{
  margin-bottom: 10px;
}

.container{
  width: 1000px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
