*{
    box-sizing: border-box;
  }
/* html{
    font-size: 62.5%;
    
}
h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px; 
}*/

/* .container{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 0;
    padding: 0 10px 10px;
    border-bottom: 2px solid rgb(56, 56, 56);
}
@media(max-width:500px){
    header{
        flex-direction: column;
        align-items: center; 
    }
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.logo{
    font-size: 4rem;
    text-decoration: none;
    font-weight: 500;
    color: rgb(56, 56, 56);
}
@media(max-width:500px){
    .logo{
       margin-bottom: 10px;
    }
} */

#portfolio{
    display: flex;
    flex-wrap: wrap;
}


.project{
    width: 33%;
    padding: 10px;
    margin-bottom: 10px;
}

@media(max-width:800px){
    .project{
        width: 50%; 
    }
    .project:nth-child(odd){
        background-color: rgb(241, 241, 241);
    }

}
@media(max-width:500px){
    .project{
        width: 100%; 
    }
    .project:nth-child(odd){
        background-color: rgb(241, 241, 241);
    }
}

.tags{
    font-size: 1.5rem;
}

/* Tag Colors */
.html{
    color: red;
}
.css{
    color: blue;
}
