*{
    box-sizing: border-box;
}

.container{
    width: 900px;
    margin: 0 auto;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-top: 10px;
    align-items: baseline;
}

.logo{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

/* Navigation */
nav{
    display: flex;
    font-size: 20px;
}

nav a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    border-bottom: 2px solid gray;
}

/* -------------------- */
/* --- Media Queries -- */
/* -------------------- */
 
/* ----- Smartphones (portrait and landscape) ----- */
@media only screen 
and (min-width : 320px) 
and (max-width : 414px) {
    .container{
        width: 100%;
        padding: 5px;
    }
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo{
        width: 100%;
    }
}
@media only screen and (max-width: 900px){
    .container{
        width: 100%;
    }
} 
